@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600&display=swap');

html,
body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
h2 {
  margin-left: 10px;
}
// Oops used underscores (may fix one day...)

.ideas-center-div-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.name-container {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.landing-center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.vote-results-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.admin-new-center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.login_center_div_col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.before-vote-center-div-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.ideas-vote-center-div-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.login-center-div-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

@media only screen and (max-width: 600px) {
  .login-center-div-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
}

.tile-container {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  .MuiPaper-root{
    background-color: #eeeeee;
  }
}

.plus-minus-input {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.plus-minus-input .input-group-field {
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 1rem;
}

.plus-minus-input .input-group-field::-webkit-inner-spin-button,
.plus-minus-input .input-group-field ::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.plus-minus-input .input-group-button .circle {
  border-radius: 50%;
  padding: 0.25em 0.8em;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.fa-plus-square:before {
  content: '\f0fe';
}
.fa-plus-square:before {
  content: '\f0fe';
}
.fa-plus-square-o:before {
  content: '\f196';
}

.fa-plus-circle:before {
  content: '\f055';
}

.input-group {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.input-group > :first-child {
  border-radius: 0 0 0 0;
}

.input-group > :last-child > * {
  border-radius: 0 0 0 0;
}

.input-group-label,
.input-group-field,
.input-group-button,
.input-group-button a,
.input-group-button input,
.input-group-button button,
.input-group-button label {
  margin: 0;
  white-space: nowrap;
}

.input-group-label {
  padding: 0 1rem;
  border: 1px solid #cacaca;
  background: #e6e6e6;
  color: #0a0a0a;
  text-align: center;
  white-space: nowrap;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.input-group-label:first-child {
  border-right: 0;
}

.input-group-label:last-child {
  border-left: 0;
}

.input-group-field {
  border-radius: 0;
  -webkit-flex: 1 1 0px;
  -ms-flex: 1 1 0px;
  flex: 1 1 0px;
  height: auto;
  min-width: 0;
}

.input-group-button {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.input-group-button a,
.input-group-button input,
.input-group-button button,
.input-group-button label {
  height: 2.5rem;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1rem;
}

.vote-counter {
  margin: 10px;
}

.admin-waiting-vote-table {
  display: flex;
  justify-content: center;
}

.admin-waiting-vote-col {
  width: 500px;
  height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-waiting-vote-name {
  width: 120px;
  height: 30px;
  background-color: aqua;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  line-height: 30px;
  margin: 10px;
}

.voting-center-div-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.voting-votes-submit-box {
  margin: 25px;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color:#ab47bc;
  border-radius: 20px;
  padding: 20px;
  h1 {
    font-size: 48pt;
    margin: 0;
    color: white
  }
  h3 {
    font-size: 14pt;
    margin: 0;
    color: white


  }
  .MuiButton-root {
    border-radius: 15px;
    background-color: white;
    color: #ab47bc;
    width: 150px
  }
}

.MuiCardHeader-root {
  background-color: #ab47bc;
  color: white;
  margin-bottom: 0;
  text-align: center;
}

.MuiCardContent-root {
  background-color: #eeeeee;
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.MuiButton-root {
  border-radius: 15px;
}



#topRightFixed {
  position: fixed;
  top: 20%;
  left: 0;
  background: #ab47bc;
  margin: 5px;
  padding: 6px;
  color: white;
  font-size: 1.4em;
}